name: Rebuild sample UI
on:
  schedule:
    - cron: 0 0 * * 2
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: write # for peter-evans/create-pull-request to create branch
      pull-requests: write # for peter-evans/create-pull-request to create a PR
    name: Rebuild
    if: github.repository == 'CrowdStrike/foundry-sample-openrouter-toolkit'
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903  # v6.0.0
        with:
          node-version: 22
      - name: Install dependencies
        run: npm ci
        working-directory: ui/extensions/openrouter-toolkit-ui
      - name: Build React app
        run: npm run build
        working-directory: ui/extensions/openrouter-toolkit-ui
      - name: Create commit
        run: |
          git add .
          git commit -a -m "Rebuild UI with latest dependencies" || true
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412  # v7.0.9
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'Rebuild with latest dependencies'
          title: 'Rebuild with latest dependencies'
          body: Weekly build with latest dependencies.
          labels: 'dependencies'
